{
  "extends": [
    "react-app",
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "react",
    "prettier",
    "jsx-a11y"
  ],
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-no-target-blank": "off",
    "react/jsx-filename-extension": "off",
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "singleQuote": true,
        "printWidth": 100
      }
    ],
    "quotes": [
      "error",
      "backtick"
    ]
  }
}
