body {
  background-color: #e9eff2;
}

@import './css/af-navbar.css';

.af-container {
  overflow: hidden;
}

@media (max-width: 768px) {
  .af-row {
    margin-top: 10px;
  }
  
}

.nav-pills-custom>li>a {
  color: lightgrey;
}

.panel-custom>.panel-heading {
  background: none;
  border-bottom: none;
}

.form-control-nav{
  background-color:#F0FFFF;
  border: lightgrey solid 1px;
  border-radius:15px;
}

.panel-footer{
  background-color: lightcyan;
}
.well{
  background-color: lightcyan;
}
a{
  color:#60A6C1;
}
div.panel-heading{
  padding-top:15px;
  padding-bottom: 0px;
}
.form-control-feedback{
  line-height:27px;
}
.panel-info{
  border:1px lightgrey solid;
}
